# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
*.suo

# mstest test results
TestResults
Problems99/_ReSharper.Problems99
fpinscala.sublime-*
*.idea*
FPinScala/project/target
FPinScala/src/main/target
FPinScala/target
